@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{   
	background:url(https://image.freepik.com/free-photo/cinema-still-life_23-2148017229.jpg) no-repeat;
  	background-size: cover;
  	min-height:100%;
}
.headerSection{
	font-family: cursive;
	margin-top:50px;
}
/*  .textbox
    {
     height:420px;
     width:200px;
    } */
.searchlabel{
	float:left;
}
.addfilmBtn{
	margin-top: 10px;
	
}
.mainsection{
	width:100%;
	float:left;
	padding-top:0px;
	text-align: -webkit-center;
}

.searchForm {
/* 	background-color:rgba(255,255,255,0.4);
 */
 background-color:rgba(255,255,255,0.7);

 	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
  margin-top:50px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}


.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}



textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

body > div > div > h3 {
	font-family: cursive;
	margin-top:50px;
}

body > div > div > form > div {
	
}
	
.addFilmContainer{
	
}

